.my-primary {
  background-color: #3498db;
}
.my-text-primary {
  color: #3498db;
}
.my-text-title {
  color: #6c94bc;
}
.icon {
  font-size: 4rem;
}
.my-copyright-bg {
  background-color: #005c99;
}
